@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "GT Sectra";
    src: url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot");
    src:
      url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/ed147ffc0c22f110b20a665b27adfc1b.svg#GT Sectra Display Regular")
        format("svg");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body,
  #root {
    width: 100%;
  }
  main {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  #canvas::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(/background-xl.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s linear;
  }
  .right {
    font-family:
      GT Sectra,
      Times;
  }
  main:has(#section-2 #line:hover) #canvas::after{
    opacity: 0;
  }
}
